# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual Environment
# -------------------------
.venv/
venv/
ENV/
env/

# -------------------------
# Django
# -------------------------
db.sqlite3
media/

# -------------------------
# Environment Variables
# -------------------------
.env

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# macOS
# -------------------------
.DS_Store

# -------------------------
# Windows
# -------------------------
Thumbs.db
Desktop.ini

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Pytest
# -------------------------
.pytest_cache/

# -------------------------
# Coverage
# -------------------------
.coverage
htmlcov/

# -------------------------
# Migrations (optional)
# -------------------------
# Uncomment only if this becomes a reusable package
# **/migrations/
# !**/migrations/__init__.py